@inherits LayoutComponentBase

<PageTitle>Khuselo.v1</PageTitle>

<div class="page" style="background-image:linear-gradient(180deg, rgb(229, 114, 33) 0%, rgb(128, 128, 128) 70%);">
    <div class="sidebar" style="background-color:transparent;">
        <NavMenu />
    </div>

    <main>
      @*  <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
